<footer>
    <div class="container-fluid bg-dark text-light py-3">
        <div class="row">
            <div class="col-md-4">
                <p>&copy; 2025 Kachní společnost</p>
            </div>
            <div class="col-md-8 text-md-end">
                Tato aplikace byla vytvořená k demonstraci možností frameworku Django v hodinách předmětu Webové aplikace.
                Obsah webu je pouze smyšlený, generovaný AI a neslouží k žádným reálným účelům. 
            </div>
        </div>
    </div>
</footer>